@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --text-color: #000000b3;
    --primary-color: #7367f0;
    --avatar-color: #ffffff;
    --avatar-bg-color: #fd7e97;
    --bg-color-1: #ffffff;
    --bg-color-2: #dddddd;
    --h1-font-size: 30px;
    --h2-font-size: 25px;
    --h3-font-size: 20px;
    --h4-font-size: 15px;
    --p-font-size: 13px;
    --bolder-weight: 900;
    --bold-weight: 700;
    --medium-weight: 500;
    --font-family: 'Poppins', sans-serif;
    --border-width: 0px;
    --border-color: #000000;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--bg-color-2);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

p {
    font-size: var(--p-font-size);
}

a {
    text-decoration: none;
}

button {
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--bg-color-1);
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 20px;
    padding: 20px;
    background-color: var(--bg-color-1);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container {
    position: relative;
}

.customDiv {
    position: fixed;
    top: 250px;
    right: 0;
}

input[type="color"] {
    background: none;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 25px;
    padding: 0;
}

.formBody {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    transition: all 0.5s linear;
}

.formBodyUp {
    top: -100%;
}

.formBody>h3 {
    text-align: center;
}

.customSubmit {
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--bg-color-1);
    padding: 10px;
    margin: 8px 0;
}

/* review header */
.reviewHeader {
    color: var(--text-color);
}

.reviewHeaderBody {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.reviewHeaderBodyRight {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
}

.ratingValue p {
    font-size: var(--h1-font-size);
    font-weight: var(--medium-weight);
}

.ratingValue p span {
    font-weight: var(--bold-weight);
}

.custReviewHeading {
    margin-bottom: 13px;
}

.star-rating {
    gap: 5px;
}

.reviewBtn {
    width: 150px;
}

.reviewBtn a {
    color: var(--bg-color-1);
}

/* product photos */
.productPhotosBody {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.productPhotosCard {
    width: 80px;
    aspect-ratio: 1/1;
    background-color: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.productPhotosImgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.productPhotosImgOverlayText {
    color: #ffffff;
    font-size: var(--h4-font-size);
    text-align: center;
}

.productPhotosImg {
    width: 100%;
}

/* reviews card */

.reviewsBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 20px 0;
    overflow-y: scroll;
}

.reviewsBody::-webkit-scrollbar {
    display: none;
}

.reviewsCard {
    width: 75%;
    gap: 30px;
    color: var(--text-color);
    border: var(--border-width) solid var(--border-color);
}

.reviewsCardBody {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cardBodyLeft {
    width: 25%;
}

.cardBodyRight {
    width: 70%;
}

.reviewerInfo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.reviewerName {
    font-weight: var(--bold-weight);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--avatar-color);
    background-color: var(--avatar-bg-color);
}

.verified {
    font-size: 12px;
}

.blue-tick {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.likes-dislikes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: self-end;
}

.like-dislikes-btn {
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

@media screen and (max-width: 785px) {
    .reviewsCard {
        width: 80%;
    }

    .reviewHeaderBodyRight {
        border-right: none;
    }

    .cardBodyLeft {
        width: 100%;
    }

    .cardBodyRight {
        width: 100%;
    }
}